
body {
  background-image: url('images/white background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}


h1.tyler_farrell_heading {
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin-top: 5%;
  margin-left: 13.5%;
  font-size: 80px;
  font-weight: bold;
}


.Menu {
  position: fixed;
  display: flex;
  gap: 12px;
  background-color: white;
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
  z-index: 1000;
  right: 2%;
  top: 3%;
  background-color: rgba(255, 255, 255, 0.753);
}

.Menu button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: 5px solid black;
  border-radius: 5px;
  /* background-color: transparent; */
  color: black;
}

.Menu button:hover {
  background-color: black;
  color: slategray;
  border-color: slategray;
}

.Portfolio-img {
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translateY(-50%);
  width: 40vw;
  max-width: 600px;
  height: auto;
  border-radius: 30%;
  border: 10px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.about-section,
.skills-section,
.projects-section,
.resume-section,
.contact-section {
  margin-left: 55%;
  margin-right: 2%;
  width: 40%;
  background-color: white;
  border: 5px solid black;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  margin-top: 5%;
}

.about-me-heading,
.Skills,
.Projects,
.Resume,
.Contact {
  font-size: 40px;
  text-align: center;
}

.About_Me,
.Skills-content,
.Projects-content,
.Resume-content,
.Contact-content {
  font-size: 22px;
  text-align: center;
}
section, 
.about-section,
.skills-section,
.projects-section,
.resume-section,
.contact-section {
  scroll-margin-top: 150px; 
}

@media (max-width: 2000px) {
  h1.tyler_farrell_heading {
    font-size: 53px;
    text-align: center;
    margin: 160px 0px 40px 0px;
  }

  .Menu {
    position: fixed;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    width: 90%;
    padding: 10px;
    gap: 10px;
  }

  .Menu button {
    font-size: 16px;
    padding: 8px 12px;
  }

  .Portfolio-img {
    position: static;
    width: 80vw;
    margin: 20px auto;
    display: block;
    transform: none;
  }

  .about-section,
  .skills-section,
  .projects-section,
  .resume-section,
  .contact-section {
    width: 90%;
    margin: 20px auto;
    margin-top: 5%;
  }

}
